<h1>{{name}}</h1>
<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Método:</td>
  <dd> {{ getHeroDescription() }} </dd>

  <td>Capitalizado:</td>
  <dd> {{capitalizedName}} </dd>
</dl>

<button *ngIf="name !== 'Spiderman'" (click)="changeHero()" class="btn btn-primary m-2">
  Cambiar Heroe
</button>



<button *ngIf="age !== 25" (click)="changeAge()" class="btn btn-secondary m-2">
  Cambiar Edad
</button>

<button *ngIf="showResetButton" (click)="resetForm()" class="btn btn-secondary m-2">
  Reset
</button>
